.DS_Store
.ipynb_checkpoints
.jupyter/desktop-workspaces
HE-MONALISA/.DS_Store
HE-MONALISA/.ipynb_checkpoints
HE-MONALISA/.jupyter/desktop-workspaces
LivingSwitzerland/.DS_Store
algoLivingEarth/.DS_Store
algoLivingEarth/.ipynb_checkpoints
